{# templates/form.html.twig #}

<div class="row">
    <div class="col-12">
        <h1>{{ __('Prueba básica de Twig', 'techtask') }}</h1>
        <p>Si ves esto, Twig funcionando correctamente.</p>
        
        <form method="post" action="{{ 'front/form.php' | path }}">
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary">{{ __('Probar Botón', 'techtask') }}</button>
        </form>
    </div>
</div>
